[user]
	name = pengz1
	email = zuiliang.peng@emc.com
[alias]
	co = checkout
	br = branch
	amend = commit --amend
[credential]
	helper = store
[core]
	editor = vim
[commit]
	template = /home/onrack/.gitmessage.txt
[http]
	sslverify = false
	sslCAinfo = /etc/ssl/certs/ca-certificates.crt
